<%= form_with model: post do |form| %>
    <div class="mb-6">
        <%= form.label :name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
        <% post.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>

    </div>
    <div class="mb-6">
        <%= form.label :description, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_area :description, class:"block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <% post.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="mb-6">
        <%= form.submit class:"focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
    </div>
<% end %>